.cards-container{
    padding: 44px;
}

.cards-section{
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 69%;
    height: 697px;
    overflow:scroll;
    background: #121212;
    border-radius: 10px;

}