.dark-mode{
    background-color: black;
}

@font-face {
    font-family: 'Galaxy';
    src: local('Galaxy'), url('../fonts/SFDistantGalaxy.ttf') format('truetype');
}


*{
    background-color: white;
    color: #565656;
    font-family: 'Galaxy' !important;
}

@import './base/settings';
@import './base/base';

//Components
@import './components/header';
@import './components/card';