@font-face {
    font-family: 'Galaxy';
    src: local('Galaxy'), url('../fonts/SFDistantGalaxy.ttf') format('truetype');
}

*{
    color: #FFFFFF;
    font-family: 'Galaxy' !important;
}

body{
    background-image: url("/assets/background-dark.png") !important;
    background-size: cover;
    background-position: center;
}

@import './base/settings';
@import './base/base';

//Components
@import './components/header';
@import './components/card';
@import './components/home';
@import './components/cardEdit';